fieldset{border-width:0;}
select,.ui-select-menu { float: left; margin-right: 10px; }
select { width: 220px; }
.table-tinymce{width:100%;}
/**
 * Table contenu avec jquery ui widget
 */
#tablecontain {margin: 0 0 0 10px; border-collapse: collapse; width: 95%;}
#tablecontain th,#tablecontain td{text-align: left;}
#tablecontain th {padding: .1em 4px;}
#tablecontain td{padding: .1em 4px;}
#tablecontain td a{text-decoration:underline;}
#tablecontain td a:hover{}
.tablecontain {margin: 0 0 0 10px; border-collapse: collapse; width: 95%;}
.tablecontain th,.tablecontain td{text-align: left;}
.tablecontain th {padding: .1em 4px;}
.tablecontain td{padding: .1em 4px;}
.tablecontain tr td:first-child{width:1%;}
.tablecontain tr:hover {}
.tablecontain td a{text-decoration:underline;}
.tablecontain td a:hover{}
/**
* HACK safari and chrome
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.forms-cms-navigation table{margin:0;padding:0;border-width:0px;border-spacing: 0px;border-collapse: collapse;}
	.forms-cms-navigation table tr th{margin:0;padding:0 ;vertical-align:top;}
	.forms-cms-navigation table tr td{margin:0;padding:0;vertical-align:top;}
	#forms-config-rewrite table{margin:0;padding:0;border-width:0px;border-spacing: 0px;border-collapse: collapse;}
	#forms-config-rewrite table tr th{margin:0;padding:0 ;vertical-align:top;}
	#forms-config-rewrite table tr td{margin:0;padding:0;vertical-align:top;}
	#forms-config-rewrite-update table{margin:0;padding:0;border-width:0px;border-spacing: 0px;border-collapse: collapse;}
	#forms-config-rewrite-update table tr th{margin:0;padding:0 ;vertical-align:top;}
	#forms-config-rewrite-update table tr td{margin:0;padding:0;vertical-align:top;}
	.forms-config table{margin:0;padding:0;border-width:0px;border-spacing: 0px;border-collapse: collapse;}
	.forms-config table tr th{margin:0;padding:0 ;vertical-align:top;}
	.forms-config table tr td{margin:0;padding:0;vertical-align:top;}
}
/*############## plugin password metter ######################*/
.password-meter {
	position:relative;
	width: 180px;
}
.password-meter-message {
	text-align: right;
	font-weight: bold;
	color: #676767;
}
.password-meter-bg, .password-meter-bar {
	height: 4px;
}
.password-meter-bg {
	top: 8px;
	background: #e0e0e0;
}
.password-meter-message-very-weak {
	color: #aa0033;
}
.password-meter-message-weak {
	color: #f5ac00;
}
.password-meter-message-good {
	color: #6699cc;
}
.password-meter-message-strong {
	color: #008000;
}
.password-meter-bg .password-meter-very-weak {
	background: #aa0033;
	width: 30px;
}
.password-meter-bg .password-meter-weak {
	background: #f5ac00;
	width: 60px;
}
.password-meter-bg .password-meter-good {
	background: #6699cc;
	width: 135px;
}
.password-meter-bg .password-meter-strong {
	background: #008000;
	width: 180px;
}
/**
 * Hack IE 7 pour les formulaires
 */
*:first-child+html .button-link{max-width:200px;}
*:first-child+html input[type=submit]{max-width:200px;}