@CHARSET "UTF-8";
* {
	margin: 0;
	padding: 0;
	border:0 none;
}
html{
	background-color:#042139;
}
* html input,
* html .widget {
    border-color: #dfdfdf;
}
body{
	margin: 0;
	padding: 0;
	/*font-family: Helvetica, Arial, sans-serif;*/
	font-family: Helvetica,sans-serif;
	font-size:12px;
} 
h1 { font-size: 160%; }
h2 { font-size: 120%; }
h4 { font-size: 100%; }
h5 { font-size: 90%; }
h6 { font-size: 80%; }
p {
	/*margin: 0.2em 0 0.8em 0;
	line-height: 1.3em;
	font-size:12px;*/
}
h1,h2,h3,h4,h5, h6 {
	font-weight: bold;
}
h3 {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 5px;
	margin-left:5px;
	text-decoration:underline;
}
h4 {
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 5px;
	margin-left:5px;
	color: #FFF;
}
ul { list-style: none; }
ul li { 
	list-style: none;
}
ol li{}
a {text-decoration: none;}
a:link { }
a:visited { }
a:hover {
 }
a:focus { }
a[hreflang]:after { }
a img {border:none;}
.strong{font-weight:bold;}
.lfoot a{color:#1d76ce;}
.lfoot a:hover{text-decoration:underline;}
body,
#acbody,.form-table .pre {
	color: #fff;
}
#page {
	margin:0 auto;
}
#content{
	margin:0;
	height: auto 0;
}
#log-board{
	margin:0 auto;
	position:relative;
}
#main {
	margin:0 0 0 178px;
}
#login{position:relative;margin:0 auto;width:330px;}
#loginforms{margin:30% 0 0 0;width:330px;}
#loginforms input[type=text],#loginforms input[type=password]{
	font-size:16px;
	color:#696969;
	font-weight:normal;
}
/*HEADER*/
#achead {
	background:#042139 url(/framework/img/logo.jpg) no-repeat;
	height: 82px;
	/*border-bottom:4px solid #0e3b67;*/
}
/*DASHBOARD*/
#mainbar{margin:0 0 5px 0;padding:0;height:30px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#mainbar .fariane ul{margin-top:0;}
}
#mainbar .fariane{margin: 0;height:25px;}
#mainbar .fariane ul{margin-top:6px!important;}
#mainbar .fariane ul li{margin:0;list-style:none;float:left;padding-left:5px;}
#mainbar .username{margin:0;padding:5px;width:100px;float:left;}
#topmicrobar{float:right;margin-right:20px;padding-top:2px;}
.topbar-tools{margin:0;padding:0;}
.topbar-tools li{float:left;margin-left:5px;padding:2px;}
#footer{
	padding: 15px;
	margin: 0;
	clear:left;
	color:#fff;
	text-align: left;
	font-size: 12px;
}
/*SIDEBAR*/
#sidebar{
	margin:0 0 5px 0;
	padding:5px 0 5px 0;
	width:170px;
	background:#000;
	float:left;
	border:1px solid;
	font-size:12px;
}
#sidebar .management-menu{
	width:160px;
	margin-left:5px;
}
#sidebar ul li a:hover{
	/*color:#c98000;*/
	background:none;
	border:none;
	border-width:0;
}
#sidebar ul li a{
	background:none;
	border:none;
	border-width:0;
}
#sidebar h2{color:#FFF;text-decoration:none;margin-left:10px;margin-top:2px;margin-bottom:2px;font-size:14px;}
/* hack Chrome / Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#sidebar ul li,#sidebar ul li{margin:0;padding:0;}
}
/*@media screen, projection, tv {
	#sidebar ul li{margin:0;padding:0;}
}*/
/** 
* Sous menu pour chaque onglet
*/
#submenu{border:none;margin-bottom:2px;margin-left:5px;}
#submenu ul li:first-child{margin-left:0;}
#submenu ul li{padding:4px 2px 2px 2px;float:left;margin-left:10px;}
#submenu ul li a{font-size:12px;color:#696969;text-decoration:none;}
#submenu ul li a:hover{}
/*######################### dashboard wuidget UI ########################*/
.dashboard-widget-h2{padding:0;color:#696969;}
.column { width:50%; float: left;padding:0; /*display:block-inline;*/}
.dashboard-content .column .dashboard-widget{margin:5px;}
.dashboard-widget { margin: 0 0.4em 0.4em 0; }
.dashboard-widget-header { margin: 0.3em; padding-top:5px;padding-bottom: 5px; padding-left: 0.2em; }
.dashboard-widget-header .ui-icon { float: right; }
.dashboard-widget-content { overflow:hidden;/*padding: 0.4em;*/ }
.dashboard-widget ul{margin-left:0.8em;padding:4px;}
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }
.dashboard-h2{padding:0;color:#696969;}
.dashboard{ margin: 0 1em 1em 0; float:left;width:100%;}
.inputtext,.fulltext{background-color:white;padding:4px;}
.spincount{background-color:white;padding:3px;}
.inputdisabled{background-color:#ccc;padding:4px;}
.ui-input{padding:4px;}
.dashboard{ float:left;width:98%!important;}
.dashboard-header { margin: 0.3em; padding-top:5px;padding-bottom: 5px; padding-left: 0.2em; }
.dashboard-header .ui-icon { float: right; }
.dashboard-content { /*padding: 0.4em;*/width:100%; }
a.widget-links{text-decoration:underline;}
/*Extend UI CSS with fg button*/
.fg-button { outline: 0; margin:0 4px 0 0; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
/* remove extra button width in IE */
button.fg-button { width:auto; overflow:visible; }
div.fg-button { width:auto; overflow:visible; }
.fg-button-icon-left { padding-left: 2.1em; }
.fg-button-icon-right { padding-right: 2.1em; }
.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }
.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 /* solo icon buttons must have block properties for the text-indent to work */	
.fg-button { 
   outline: 0; 
   margin:0 4px 0 0; 
   padding: .4em 1em; 
   text-decoration:none !important; 
   cursor:pointer; 
   position: relative; 
   text-align: center; 
   zoom: 1;
}
   .activeicon{background:transparent url(/framework/img/green_button.png) no-repeat;width:16px;height:16px;}
   .nonactiveicon{background:transparent url(/framework/img/red_button.png) no-repeat;width:16px;height:16px;}
/*Show meta et textearea meta*/
#showmetas{width:150px;}
#showmetas:hover{cursor:pointer;}
#metas{display:none;}
#charactersLeftT,#charactersLeftD { font-size: 18px; font-weight: bold; }
div.wrap{color:#666;background:#eee;display:inline-block;margin:0 0 14px;padding:6px 3px 3px 3px;line-height:1;-moz-border-radius:5px;-webkit-border-radius:5px}
/* TABLES CLEAR
-------------------------------------------------------- */
.clear {
	font-size : 11px;
	border-collapse : collapse;
	margin : 0 0 1em 0.6em;
	width:97%;
}
 .clear tr.line:hover {
	background : #696969;
}
.clear tr.line{}
.clear th{
	border-width : 0 0 1px 0;
	border-style : solid;
	border-color : #ececec;
	padding : 3px 1px;
	vertical-align : top;
	opacity: 0.5;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
}
.clear td {
	border-width : 0 0 1px 0;
	border-style : solid;
	border-color : #ececec;
	padding : 3px 1px;
	vertical-align : top;
}
.clear th {
	text-align : left;
	border-bottom-color : #666;
}
.clear .noborder td, td.noborder, .noborder th, th.noborder {
	border-width : 0;
}
.clear .maximal, table.maximal {
	width : 100%;
}
/*IE7 FIX BUG ESPACEMENT */
*+html .clear .maximal,*+html table.maximal{width:200px;}
.clear .minimal {
	width : 1px;
}
.clear .nowrap {
	white-space : nowrap;
	width:1%;
}
/*IE7 FIX BUG ESPACEMENT */
*+html .clear .nowrap {
	white-space : nowrap;
	width:3%;
}
.clear .nowrap a {
	color:white;
}
.clear td.status {
	vertical-align: middle;
}
.clear td.status img {
	margin-bottom: -2px;
}
.clear td.status a {
	border: none;
}
.clear tr.line img.expand {
	margin-right: 10px;
	margin-bottom: -2px;
}
.clear tr.line input {
	vertical-align: top;
}
.clear tr.expand td {
	border-bottom: none;
}
.clear .expand {
	padding: 1em;
}
.clear .medium {
	width : 30%;
}
.clear .fixed-medium{
	/*width:100px;*/
}
.clear .dragable {
	border-collapse: separate;
}
.clear .dragable tbody td {
	
}
.clear .handle {
	padding : 0;
}
.clear .handler {
	cursor : move;
	background : transparent url(drag.png) no-repeat 0 50%;
	padding-left : 15px;
}
/**
 * Tableau sans espace
 */
.clean-table{margin:0;padding:0;border-width:0px;border-spacing: 0px;border-collapse: collapse; }
.clean-table tr th{margin:0;padding:0 5px;vertical-align:top;background:#EEE;}
.clean-table tr td{margin:0;padding:0;vertical-align:top;}
.clean-table tr td{}
.clean-table tr td:first-child{}
/**
 * pagination
 */
.pagination {
	display:block;
	float:left;
	font-size:0.8em;
	padding:0;
	width:100%;
}
.pagination .pages {
	float:left;
	font-weight:700;
	height:28px;
	line-height:28px;
	margin:2px;
	padding:0;
	text-align:center;
}
.pagination .current{
	background:transparent url(/framework/img/pagination_a.gif) repeat scroll left top;
	color:#111111;
	float:left;
	font-weight:700;
	height:28px;
	line-height:28px;
	margin:2px;
	padding:0;
	text-align:center;
	width:32px;
}
.ui-widget-content .pagination a{
	background:transparent url(/framework/img/pagination_a.gif) repeat scroll left 56px;
	color:#222222;
	float:left;
	height:28px;
	line-height:28px;
	margin:2px;
	padding:0;
	text-align:center;
	text-decoration:none;
	width:32px;
}
.pagination a:hover{
	background:transparent url(/framework/img/pagination_a.gif) repeat scroll left 28px;
	color:#222222;
}
/* Component containers
----------------------------------*/
.ui-widget { font-family: Helvetica, Arial, sans-serif; font-size: 1.1em; }
/*############## Accordion ###########*/
/*@media screen, projection, tv {
	.ui-accordion .ui-accordion-content {margin:0;padding:0;}
	html[xmlns*=""] body:last-child ... { ... }
}*/
/*-------------UI Accordion
--------------------*/
/* hack Chrome / Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {
 .ui-accordion .ui-accordion-content { padding:0;left:0;margin-left:0;position:relative;border-top: 0; margin-top: -2px; top: 1px; margin-bottom: 2px; overflow: auto; display: none; }
 .ui-accordion .ui-accordion-content ul{margin:5px 0 5px 5px;padding:0;}
}
.ui-accordion { width: 100%; }
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .2em .2em .2em 2.0em; }
.ui-accordion-icons .ui-accordion-header a { padding-left: 2.2em; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 1em 0.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; zoom: 1; }
.ui-accordion .ui-accordion-content-active { display: block; }
/*--------------------
/*--------------------
/*
 * jQuery UI Button 1.8.10
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Button#theming
 */
.ui-button-icon-only { width: 2.2em; } /* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only { width: 1.4em; } /* button elements seem to need a little more width */
.ui-button-icons-only { width: 3.4em; } 
button.ui-button-icons-only { width: 3.7em; } 

/*button text element */
.ui-button .ui-button-text { display: block; line-height: 0.8;  }
.ui-button-text-only .ui-button-text { padding: .4em 1em; }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; }
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .2em 1em .2em 2.1em; }
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .2em 1em .2em 2.1em; }
.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
/* no icon support for input elements, provide padding by default */
input.ui-button { padding: .1em 1em; }

/*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -8px; }
.ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: .5em; }
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }

/*button sets*/
.ui-buttonset { margin-right: 7px; }
.ui-buttonset .ui-button { margin-left: 0; margin-right: -.3em; }
/*----------------UI Sortable
------------------*/
#sortable,#sortproduct,#sortcat,#sortsubcat,.globalsort,#sort_page_p,#sort_child_page{ list-style-type: none; margin: 5px 0 5px 5px; padding: 0; width: 97%; }
/*#sortable li,#sortcat li,#sortsubcat li,.globalsort li { margin: 0 3px 3px 3px; padding: 0.3em; padding-left: 1.5em; font-size: 1.0em; height: 12px; }*/
#sortable li,#sortproduct li, #sortcat li, #sortsubcat li, .globalsort li,#sort_page_p li,#sort_child_page li {
	font-size:12px;
	height:12px;
	margin:0 3px 3px;
	padding:0.1em 0.3em 0.3em 1.5em;
}
#sortable li span.arrowthick,#sortproduct li span.arrowthick,#sortcat li span.arrowthick,#sortsubcat li span.arrowthick,.globalsort li span.arrowthick,#sort_page_p li span.arrowthick,#sort_child_page li span.arrowthick{ position: absolute; margin-left: -1.3em; }
#sortable li:hover,#sortproduct li:hover,#sortcat li:hover,#sortsubcat li:hover,.globalsort li:hover,#sort_page_p li:hover,#sort_child_page li:hover{cursor: move;}
.sortdivfloat{float:left;min-width:120px;font-weight:600;}
.aspanfloat{float:left;/*margin-left:20px;*/}
.ui-sortable li a{cursor:pointer;}
/*
 * jQuery UI Tabs 1.8.10
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tabs#theming
 */
.ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }
/*#################### magixicon ######################*/
.magix-icon { width: 16px; height: 16px; background-image: url(/framework/img/magixicon_256x240.png); }
/* positioning column 1*/
.magix-icon-igoogle-t { background-position: 0 0; }
.magix-icon-igoogle-d { background-position: -16px 0; }
.magix-icon-h1 		  { background-position: -32px 0; }
.magix-icon-online 	  { background-position: -48px 0; }
.magix-icon-perms     { background-position: -64px 0; }
.magix-icon-webmaster { background-position: -80px 0; }
.magix-icon-analytics { background-position: -96px 0; }
.magix-icon-youtube   { background-position: -112px 0; }
.magix-icon-shutdown  { background-position: -128px 0;}
.magix-icon-help	  { background-position: -144px 0;}
.magix-icon-info-white	  { background-position: -160px 0;}
.magix-icon-info { background-position: -176px 0;}
.magix-icon-exclamation	  { background-position: -192px 0;}
.magix-icon-exclamation-red{ background-position: -208px 0; }
.magix-icon-lightbulb{ background-position: -224px 0; }
.magix-icon-lightbulb-alert{ background-position: -240px 0; }
/* positioning column 2*/
.magix-icon-lightbulb-off{ background-position: 0 -16px; }
.magix-icon-gear{ background-position: -16px -16px; }
.magix-icon-bug{ background-position: -32px -16px; }
.magix-icon-bug-plus{ background-position: -48px -16px; }
.magix-icon-bug-alert{ background-position: -64px -16px; }
.magix-icon-plugin{ background-position: -80px -16px; }
.magix-icon-plugin-arrow{ background-position: -96px -16px; }
.magix-icon-plugin-plus{ background-position: -112px -16px; }
.magix-icon-sitemap{ background-position: -128px -16px; }
.magix-icon-sitemap-grey{ background-position: -144px -16px; }
.magix-icon-sitemap-blue{ background-position: -160px -16px; }
.magix-icon-sitemap-image{ background-position: -176px -16px; }
.magix-icon-image{ background-position: -192px -16px; }
.magix-icon-image-plus{ background-position: -208px -16px; }
.magix-icon-image-pencil{ background-position: -224px -16px; }
.magix-icon-image-alert{ background-position: -240px -16px; }
/* positioning column 3*/
.magix-icon-images{ background-position: 0 -32px; }
.magix-icon-images-stack{ background-position: -16px -32px; }
.magix-icon-image-album{ background-position: -32px -32px; }
.magix-icon-image-resize{ background-position: -48px -32px; }
.magix-icon-database{ background-position: -64px -32px; }
.magix-icon-database-alert{ background-position: -80px -32px; }
.magix-icon-database-export{ background-position: -96px -32px; }
.magix-icon-database-import{ background-position: -112px -32px; }
.magix-icon-feed{ background-position: -128px -32px; }
.magix-icon-feed-plus{ background-position: -144px -32px; }
.magix-icon-small-feed{ background-position: -160px -32px; }
.magix-icon-block{ background-position: -176px -32px; }
.magix-icon-block-arrow{ background-position: -192px -32px; }
.magix-icon-block-plus{ background-position: -208px -32px; }
.magix-icon-magnifier{ background-position: -224px -32px; }
.magix-icon-small-magnifier{ background-position: -240px -32px; }
/* positioning column 4*/
.magix-icon-lock{ background-position: 0 -48px; }
.magix-icon-unlock{ background-position: -16px -48px; }
.magix-icon-network-status{ background-position: -32px -48px; }
.magix-icon-network-status-busy{ background-position: -48px -48px; }
.magix-icon-store{ background-position: -64px -48px; }
.magix-icon-cart{ background-position: -80px -48px; }
.magix-icon-credit-card{ background-position: -96px -48px; }
.magix-icon-credit-cards{ background-position: -112px -48px; }
.magix-icon-credit-card-plus{ background-position: -128px -48px; }
.magix-icon-credit-card-alert{ background-position: -144px -48px; }
.magix-icon-highlighter-text{ background-position: -160px -48px; }
.magix-icon-highlighter-color{ background-position: -176px -48px; }
.magix-icon-locale{ background-position: -192px -48px; }
.magix-icon-news{ background-position: -208px -48px; }
.magix-icon-news-plus{ background-position: -224px -48px; }
.magix-icon-news-pencil{ background-position: -240px -48px; }
/* positioning column 4*/
.magix-icon-wallpaper{ background-position: 0 -64px; }
.magix-icon-sidebar{ background-position: -16px -64px; }
.magix-icon-color-swatch{ background-position: -32px -64px; }
.magix-icon-color-swatches{ background-position: -48px -64px; }
.magix-icon-plug-connect{ background-position: -64px -64px; }
.magix-icon-plug-disconnect{ background-position: -80px -64px; }
.magix-icon-plug-exclamation{ background-position: -96px -64px; }
.magix-icon-git{ background-position: -112px -64px; }
.magix-icon-subversion{ background-position: -128px -64px; }
.magix-icon-support{ background-position: -144px -64px; }
.magix-icon-upload{ background-position: -160px -64px; }
.magix-icon-download{ background-position: -176px -64px; }
.magix-icon-note{ background-position: -192px -64px; }
.magix-icon-note-plus{ background-position: -208px -64px; }
.magix-icon-brench{ background-position: -224px -64px; }
.magix-icon-tools	  { background-position: -240px -64px;}
/* positioning column 5*/
.magix-icon-document{ background-position: 0 -80px; }
.magix-icon-document-copy{ background-position: -16px -80px; }
.magix-icon-document-convert{ background-position: -32px -80px; }
.magix-icon-document-excel{ background-position: -48px -80px; }
.magix-icon-document-powerpoint{ background-position: -64px -80px; }
.magix-icon-document-word{ background-position: -80px -80px; }
.magix-icon-document-image{ background-position: -96px -80px; }
.magix-icon-code-php{ background-position: -112px -80px; }
.magix-icon-code-json{ background-position: -128px -80px; }
.magix-icon-code-html{ background-position: -144px -80px; }
.magix-icon-code-js{ background-position: -160px -80px; }
.magix-icon-code-xml{ background-position: -176px -80px; }
.magix-icon-broom{ background-position: -192px -80px; }
.magix-icon-broom-arrow{ background-position: -208px -80px; }
.magix-icon-home { background-position: -224px -80px; }
.magix-icon-small-home { background-position: -240px -80px; }
/* positioning column 6*/
.magix-icon-dashboard{ background-position: 0 -96px; }
.magix-icon-dashboard-arrow{ background-position: -16px -96px; }
.magix-icon-dashboard-network{ background-position: -32px -96px; }
.magix-icon-w3c-html{ background-position: -48px -96px; }
.magix-icon-w3c-valid{ background-position: -64px -96px; }
.magix-icon-w3c-invalid{ background-position: -80px -96px; }
.magix-icon-check{ background-position: -96px -96px; }
.magix-icon-cross{ background-position: -112px -96px; }
.magix-icon-sliders{ background-position: -128px -96px; }
.magix-icon-slider{ background-position: -144px -96px; }
.magix-icon-slider-plus{ background-position: -160px -96px; }
.magix-icon-slider-pencil{ background-position: -176px -96px; }
.magix-icon-licence-key{ background-position: -192px -96px; }
.magix-icon-microformats{ background-position: -208px -96px; }
.magix-icon-open-source { background-position: -224px -96px; }
.magix-icon-print { background-position: -240px -96px; }
/* positioning column 7*/
.magix-icon-layout{ background-position: 0 -112px; }
.magix-icon-layout-pencil{ background-position: -16px -112px; }
.magix-icon-layout-header{ background-position: -32px -112px; }
.magix-icon-layout-footer{ background-position: -48px -112px; }
.magix-icon-layout-content{ background-position: -64px -112px; }
.magix-icon-layout-sidebar{ background-position: -80px -112px; }
.magix-icon-layer{ background-position: -96px -112px; }
.magix-icon-layer-stack{ background-position: -112px -112px; }
.magix-icon-layer-pencil{ background-position: -128px -112px; }
.magix-icon-layer-plus{ background-position: -144px -112px; }
.magix-icon-ui-layout{ background-position: -160px -112px; }
.magix-icon-ui-menu{ background-position: -176px -112px; }
.magix-icon-ui-combo-box{ background-position: -192px -112px; }
.magix-icon-ui-list-box{ background-position: -208px -112px; }
.magix-icon-ui-check-boxes { background-position: -224px -112px; }
.magix-icon-ui-radio-buttons { background-position: -240px -112px; }
/* positioning column 7*/
.magix-icon-person{ background-position: 0 -128px; }
.magix-icon-person-plus{ background-position: -16px -128px; }
.magix-icon-person-shape{ background-position: -32px -128px; }
.magix-icon-rewritemetas{ background-position: -48px -128px; }
.magix-icon-wysiwyg{ background-position: -64px -128px; }
.magix-icon-script{ background-position: -80px -128px; }
.magix-icon-script-plus{ background-position: -96px -128px; }
.magix-icon-script-edit{ background-position: -112px -128px; }
.magix-icon-script-import{ background-position: -128px -128px; }
.magix-icon-script-export{ background-position: -144px -128px; }
.magix-icon-script-code{ background-position: -160px -128px; }
.magix-icon-script-php{ background-position: -176px -128px; }
.magix-icon-script-binary{ background-position: -192px -128px; }
.magix-icon-script-block{ background-position: -208px -128px; }
.magix-icon-pencil{ background-position: -224px -128px; }
.magix-icon-robots{ background-position: -240px -128px; }
/* positioning column 8*/
.magix-icon-tag{ background-position: -0 -144px; }
.magix-icon-tag-plus{ background-position: -16px -144px; }
.magix-icon-tag-edit{ background-position: -32px -144px; }
.magix-icon-tag-small{ background-position: -48px -144px; }
.magix-icon-tag-medium{ background-position: -64px -144px; }
.magix-icon-tag-blue{ background-position: -80px -144px; }
.magix-icon-tag-black{ background-position: -96px -144px; }
.magix-icon-tag-gray{ background-position: -112px -144px; }
.magix-icon-tag-green{ background-position: -128px -144px; }
.magix-icon-tag-pink{ background-position: -144px -144px; }
.magix-icon-tag-purple{ background-position: -160px -144px; }
.magix-icon-tag-red{ background-position: -176px -144px; }
.magix-icon-tag-yellow{ background-position: -192px -144px; }

/* positioning column 9*/
.magix-icon-calendar{ background-position: -0 -160px; }
.magix-icon-calendar-insert{ background-position: -16px -160px; }
.magix-icon-calendar-select{ background-position: -32px -160px; }
.magix-icon-calendar-select-day{ background-position: -48px -160px; }
.magix-icon-event{ background-position: -64px -160px; }
.magix-icon-event-plus{ background-position: -80px -160px; }
.magix-icon-event-delete{ background-position: -96px -160px; }
.magix-icon-page-plus{ background-position: -112px -160px; }
.magix-icon-page-delete{ background-position: -128px -160px; }
.magix-icon-page-gear{ background-position: -144px -160px; }
.magix-icon-page-edit{ background-position: -160px -160px; }
/**
 * ############################## Utility class
 * 
* ***/
.clearfix{display:block;}
.lfloat {float:left;}
.rfloat{float:right;}
.clearboth{clear:both;}
.clearleft{clear:left;}
.hide{display:none;}
.loader-block {
  position:relative;
  margin-top:2%;
  margin-bottom:2%;
  left: 50%;
  margin-left: -16px;
}
/*############## Catalog ##################*/
#list-image-galery{
	margin-left:1px;
	margin:1px 0 1px 1px;
}
.list-img{
	margin:0 3px;
	width:100px;
	height:100px;
	/*display:inline-block;*/
	float:left;
	overflow:hidden;
	background:#696969;
	position:relative;
}
.img-galery{
	padding:2px 0;
	text-align:center;
	overflow:hidden;
}
.title-galery-image{position:absolute;height:16px;width:16px;margin:2px;padding:1px;}
.img-galery img{}
.delmicro{cursor:pointer;}
.ctitle{margin:5px 0 5px 10px;width:97%;padding:0 0 0 10px;}
/*#### AJAX catalog ####*/
#load_img_ucategory,#load_img_usubcategory,#load_img_mini{
	margin:0 auto;
	margin:0!important;
	position:relative;
	display:block;
	min-width:120px;
	min-height:120px;
}
#contener_image,#contener_image_mini{
	margin:0;
	width:120px;
	height:120px;
	text-align:center;
	display: table-cell;
    vertical-align: middle;
}
#load_img_medium,#load_img_product{
	margin:0 auto;
	position:relative;
	display:block;
	min-width:120px;
	min-height:120px;
}
#contener_image_medium,#contener_image_product{
	min-width:120px;
	min-height:120px;
	text-align:center;
	display: table-cell;
    vertical-align: middle;
}
/*############## templates ##################*/
#viewskin{
	margin:5px 0 5px 10px;
}
#viewskin .img-screen{
	
}
#viewskin .list-screen{
	margin:3px;
	float:left;
	width:155px;
	height:155px;
}
#viewskin .img-screen{padding:2px;text-align:center;}
#viewskin .img-screen a{}
#viewskin .img-screen a:hover{cursor:pointer;}
#viewskin .title-skin{padding:4px 5px 4px 5px;margin:0;}
.skin-name{float:left;width:100px;display:block;}
.template-delete,.template-edit{border:none;height:16px;width:16px;}
#version{font-size:12px;padding-top:3px;}
/**
 *  ########### Editors ##########
 */
#vieweditor .list-editor h4{
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 5px;
	margin-left:5px;
	color: #000;
	text-decoration:underline;
}
#vieweditor .list-editor{
	margin:3px;
	float:left;
	width:350px;
	height:300px;
}
#vieweditor .title-editor{padding:4px 5px 4px 5px;margin:0;}
#vieweditor .editor-name{display:block;}
#vieweditor .editor-info{margin-left:10px;}
.screentheme{text-align:center;}
#postfile{width:100%;margin:5px;min-width:600px;min-height:300px;}
.frame-tpl-editor{background:white;width:100%;}
#forms-code-editor{margin:5px;min-width:800px;height:400px;}
.txt-save,.editor-save{margin-top:5px;margin-left:5px;}
/*######################## PLUGINS ##########################*/
ul.plugin-list{}
ul.plugin-list li{}
/*######################## SEO MODULE ##########################*/
.seotags{margin:0;padding:0;}
.addseo{display:block;clear:left;cursor:pointer;}
.addseo:hover{font-weight:700px;text-decoration:underline;}
/*######################## link preview ##########################*/
.linkurl{text-decoration:underline;}
.post-preview{margin:5px;}
/*######################## POP UP ##########################*/
/*######################## SEARCH ##########################*/
#cms-window-search{margin:5px;}
#catalog-window-search{margin:5px;}
/*#########################CONFIG#########################*/
.forms-config{margin:0 0 0 10px;padding:0;}
/*############################SITEMAP############################*/
.ul-underline{margin:0;padding:0;}
.ul-underline li{line-height:1.3em;}
.ul-underline li a{text-decoration:underline;}
.ul-underline li a:hover{color:#2C82FC;}