/**
 * Module de notification
 */
.close-notify {
	position: absolute;
	bottom: 10px;
	right: 10px;
	text-decoration: none;
	padding: 3px 3px 1px 3px;
	cursor: pointer;
	font-size: 12px;
}
.dont-notify {
	position: absolute;
	right: 10px;
	text-decoration: none;
	padding: 4px 4px 1px 5px;
	display: block;
	height: 14px;
	width: 100px;
	cursor: pointer;
	z-index: 10;
	top: 10px;
	font-size:10px;
}
a.dont-notify:hover {}
.pos-top{padding:15px 0;height:50px;}
#meerkat-container{border-bottom:2px solid #bbb;}
#notify-install {
	display: none;
	font-size:18px;
	color:#f00;
	font-weight:bold;
	margin:0 auto;
	position:relative;
	width:1024px;
}
#notify-folder{
	display: none;
	font-size:18px;
	color:#f00;
	font-weight:bold;
	margin:0 auto;
	position:relative;
	width:1024px;
}
#notify-header{
	display: none;
	font-size:18px;
	color:#000;
	font-weight:bold;
	margin:0 auto;
	position:relative;
	width:1024px;
}
#notify-header-plus{
	display: none;
	font-size:18px;
	color:#000;
	font-weight:bold;
	margin:0 auto;
	position:relative;
	width:1024px;
}
#message-notification,#message-notification-plus{padding-top:5px;}
/**
 * HACK pour Safari
 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#message-notification,#message-notification-plus{padding-top:0;}
}
html[xmlns*=""] body:last-child #message-notification,html[xmlns*=""] body:last-child #message-notification-plus{padding-top:0;}
/**
 * Hack IE 7
 */
*:first-child+html  #message-notification ,*:first-child+html #message-notification-plus{ padding-top:0; }
/*
 * Hack IE7, FF, Saf, Opera  
 * html>body #message-notification { padding-top:0; }
 * 
*/
.notify-txt{padding-top:10px;}
.mc-head-request{margin:0;padding:0;top:0;}
.mc-head-request span{margin-right:5px;}
/*######################### Sprites ##########################*/
/*### notify-32-icon ###*/
.notify-32-icon {width: 32px; height: 32px; background-image: url(/framework/img/notify/mc_icon_notify_32x32.png); background-repeat:none;}
/* positioning */
.notify-32-icon-check {background-position: 0 0;}
.notify-32-icon-delete {background-position:-32px 0;}
.notify-32-icon-help{background-position:-64px 0;}
.notify-32-icon-info{background-position:-96px 0;}
.notify-32-icon-light-bulb{ background-position:-128px 0;}
.notify-32-icon-warning{ background-position:-160px 0;}
.notify-32-icon-plugin-check{ background-position:-192px 0;}
.notify-32-icon-plugin-delete{ background-position:-224px 0;}
.notify-32-icon-folder-check {background-position: 0 -32px;}
.notify-32-icon-folder-delete {background-position:-32px -32px;}
.notify-32-icon-folder-conflict{background-position:-64px -32px;}
.notify-32-icon-folder-add{background-position:-96px -32px;}
.notify-32-icon-folder-modified{background-position:-128px -32px;}
.notify-32-icon-folder-warning{background-position:-160px -32px;}
.notify-32-icon-folder-info{background-position:-192px -32px;}
.notify-32-icon-folder-alert{background-position:-224px -32px;}
.notify-32-icon-page-check {background-position: 0 -64px;}
.notify-32-icon-page-delete {background-position:-32px -64px;}
.notify-32-icon-page-conflict{background-position:-64px -64px;}
.notify-32-icon-page-add{background-position:-96px -64px;}
.notify-32-icon-page-modified{background-position:-128px -64px;}
.notify-32-icon-page-warning{background-position:-160px -64px;}
.notify-32-icon-page-info{background-position:-192px -64px;}
.notify-32-icon-page-alert{background-position:-224px -64px;}
.notify-32-icon-tpl-check {background-position: 0 -96px;}
.notify-32-icon-tpl-conflict {background-position:-32px -96px;}
.notify-32-icon-tpl-add{background-position:-64px -96px;}
.notify-32-icon-tpl-info{background-position:-96px -96px;}
.notify-32-icon-tpl-modified{background-position:-128px -96px;}
.notify-32-icon-tpl-process{background-position:-160px -96px;}
.notify-32-icon-search{background-position:-192px -96px;}
.notify-32-icon-search-page{background-position:-224px -96px;}