.svn-base
.svn
.idea
.DS_STORE
/app/config/config.php
/upload/*
/media/*
/var/caches/minify_*
/var/templates_c/*
/var/tpl_admin/*
/admin/caching/minify/*
/admin/caching/cache/*
/admin/caching/templates_c/*
/lib/magixcjquery/*
/lib/smarty3/*
/old_widget/*