.svn-base
.svn
.idea
.DS_STORE
/app/config/config.php
/app/config/old_config.php
/upload/*
/media/*
/var/caches/*
/var/minify/*
/var/templates_c/*
/var/tpl_caches/*
/var/tmp/*
/admin/caching/minify/*
/admin/caching/caches/*
/admin/caching/templates_c/*
/admin/caching/tpl_caches/*
plugins/gmap/
plugins/soundcloud/
plugins/slideshow/
plugins/convdata/
plugins/faq/
plugins/advantage/
/skin/default/home/brick/advantages.tpl
plugins/hipay/
plugins/ogone/
plugins/mailchimp/
plugins/cartpay/
plugins/blocklink/
/skin/test/