.text-content, .text-content p, .text-content a, .text-content span, .text-content li {
	color: #222;
	font-family: "Georgia", Times, serif;
	font-size: 14px;
	letter-spacing: .02em;
	line-height: 19px;
}

.text-content ul {
	margin-bottom: 11px;
	margin-left: 33px;
}

.text-content ol {
	margin-bottom: 11px;
	margin-left: 33px;
}

.text-content li {
	line-height: 20px;
	margin-bottom: 0;
}

	.text-content ul li {
		background: transparent url(../img/framework-css/list/li-bg.png) left 6px no-repeat;
		list-style:none;
		padding-left: 16px;
	}

.title,
h1.title, h2.title, h3.title, h4.title, h5.title, h6.title, p.title, span.title, a.title, li.title  {
	font-family: "Georgia", Times, serif;
	font-size: 18px;
	line-height: 22px;	
	margin: 0px 0 10px 0;
	padding:0;	
}

.title a, .title a:link, .title a:hover, .title a:visited, .title a:focus,
.title span {
	font-family: "Georgia", Times, serif;
	font-size: 18px;
	line-height: 25px;
	margin:0;
	padding:0;
	text-decoration: none;
}

	/*taille medium */
	.title.medium {
		font-family: "Georgia", Times, serif;
		font-size: 22px;
		line-height: 28px;	
		margin: 0 0 10px 0;
		min-height: 28px;
		padding:0;	
	}
	
	.title.medium a, .title.medium a:link, .title.medium a:hover, .title.medium a:visited, .title.medium a:focus,
	.title.medium span {
		font-size: 22px;
		line-height: 28px;
		margin:0;
		padding:0;
	}
	
	/*taille large */
	.title.large {
		font-size: 28px;
		line-height: 35px;	
		margin: 0 0 10px 0;
		min-height: 34px;
		padding:0;	
	}

	.title.large a, .title.large a:link, .title.large a:hover, .title.large a:visited, .title.large a:focus,
	.title.large span {
		font-size: 30px;
		line-height: 40px;
		margin:0;
		padding:0;
	}
/* Element */

.align {
	text-align: center;
	margin: 0 auto;
}

.name,
.name a {
	font-size: 15px;
	line-height: 20px;
	text-decoration: none;
}
	
.name:hover,
.name a:hover {
		text-decoration: underline;
	}


.descr, .descr a, .descr span {
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
}
