@CHARSET "UTF-8";
* {
	margin: 0;
	padding: 0;
	border:0 none;
}
html{
	width: 100%;
}
body{
	background-color:#fff;
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
} 
h1 { 
	font-size: 140%;
	padding-bottom: 5px;
	border-bottom: 1px solid #BFBFBF ;
	margin-bottom: 1em;
} 
h2 { font-size: 120%; }
h3 { font-size: 100%; }
h4 { font-size: 90%; }
h5 { font-size: 80%; }
h6 { font-size: 80%; } 
p {
	margin: 0.2em 0 0.8em 0;
	line-height: 1.3em;
	font-size:12px;
}
h1,h2,h3,h4,h5, h6 {
	margin: 0 0 0.2em 0;
	color:#93117E;
}
ul { list-style: none; }
ul li { 
	list-style: none;
}
ol li{}
a {
	text-decoration: none;
}
a:link { }
a:visited { }
a:hover {}
a:focus { }
a[hreflang]:after { }
a img { border:none;}
/*##########################Les autres pages#########################*/
#page {
	background-color:#fff;
	margin:0 auto;
	position:relative;
	width:1024px;
	padding:0;
}
/*########################## Menu horizontal #########################*/
#headmenu{
	background:#FFF url(/skin/default/img/menu.jpg) no-repeat top center;
	height:40px;
	margin:0 auto 0 auto;
	position:relative;
	width:984px;
	padding: 0 20px;
	font-size:12px;
}
#headmenu ul li{
	margin-top: 5px; 
	margin-left:10px;
	padding:5px;
	float:left;
	border:none; 
	background-color: none; 
	height:20px;
	}
#headmenu ul li:hover{
	border: none;
	background-color:none; 
	}
#headmenu ul li a{
	color:#fff; 
	}
#headmenu ul li a:hover{
	color:#FABB00;
	}
/*#### Entete #####*/
#entete{
	width:984px; 
	height:162px; 
	background:#FFF url(/skin/default/img/head.jpg) no-repeat top center; 
	padding: 0 20px;
}
#entete .top{
	float:left;
	background:#FFF url(/skin/default/img/logo-magixcms.png) no-repeat;  
	margin: 35px 0 0 20px;  
	padding: 0; 
	width:330px;   
	height:110px;  
}
#entete #prelude{
	color: #ccc;
	float: right;
	margin:0;
}
#entete #prelude a{
	color: #666;
	font-size: 12px;
	font-style: bold;
	padding:0 3px;
}
#entete #prelude a:hover{
	color: black;
}
h1{
	font-weight: 500;
}
/*################### menu top ############################*/
#topmenu{margin:0;padding:0;width:100%;height:30px;background-color:#000;}
#topmenu ul{margin:0;padding:0;}
#topmenu ul li{float:left;margin:0 0 0 0;}
#topmenu ul li div{background-color:#666;border:1px solid #fff;}
/*Content global*/
#content{
	padding: 20px;
	margin:0;
	width:auto;
	height:auto 0;
	background:#FFF url(/skin/default/img/content.jpg) repeat-y top center;
}
/****************** position du contenu *********************/
#extra {
	margin: 0;padding:0;
	width: 195px;
	float:left;
}
#principal {
	margin:3px 0 0 224px !important;
	margin:3px 0 0 224px;
	padding:5px 22px 5px 5px;
	font-size:100%;
	width:auto;
	color:#58585a;
	background:white;
	overflow: hidden;
}
#principal ul{}
#principal ol li{}
#principal ul li{
	font-size:12px; 
	/*list-style:square;
	margin: 0.2em 0 0.2em 3em;*/
}
#principal a{font-size:12px;color:#560b4b;}
#principal a:hover{color:#6f0d61;}
/*#extra a{color: #696969; font-size: 100%;}*/
#extra a:hover{}
#extra h2{}
#extra .sidebar{
	margin: 0;padding: 0;
	width:190px;
	background:#BFBFBF;
}
.sidebar ul{}
.sidebar ul li{
	font-size:11px;
	/*list-style:square;
	margin: 0.1em 0 0.1em 1.1em;*/
}
/* ########## menu example :simple cms et minimal catalog ################# */
#extra .sidebar{
	margin: 0;
	padding: 0;
	width:206px;
	background: none; 
}
.sidebar ul{}
.sidebar ul li{
	font-size:11px;
	/*list-style:square;
	margin: 0.1em 0 0.1em 1.1em;*/
}
/* ########## menu example :simple cms et minimal catalog ################# */
.personnal-side-list {
	list-style: none;
	margin: 0px;
	margin-right: 22px;
	padding: 0px;
	padding-left: 0px;
	padding-top: 2%;
	width: 184px;
	float: left;
}
.personnal-side-list li {
	margin: 0;
	font-size: 13px;
}
.personnal-side-list li a span{}
.personnal-side-list li a {
	color: #F29400;
	padding: 4px 11px 4px 13px;
	text-align: left;
	text-decoration: none;
	position: relative;
	display: block;
}
.personnal-side-list li a.active-page,.personnal-side-list li a.active-page:hover {
	color:#fff;
	background:#622181 url(/skin/default/img/menu-active.jpg) repeat-x bottom;
	border-bottom: 1px solid #000;
}
.personnal-side-list li a:hover {
	color:#622181;
}
.personnal-side-list li div:hover{}
.clear {
	clear: both; 
	visibility: hidden;
}
/**
*Le menu treeview du catalogue et du CMS
*/
#page-menu-nolang a.active-page,#catalog-hierarchy a.active-page{color:#D1071E;text-decoration:underline;}
#page-menu-nolang h3,#page-menu-lang h3,#catalog-menu h3{padding:4px 0 4px 22px;margin:0 22px 0 0;border-bottom:1px solid #ccc;font-size:100%;}
#page-menu-nolang h3 a,#page-menu-lang h3 a,#catalog-menu h3 a{color:#93117E;}
/*************************** Footer ***********************/
#pieddepage{clear:both;}
#pieddepage {
	background:#FFF url(/skin/default/img/footer.jpg) no-repeat top center; 
	border: none;
	margin-top:0px; 
	height:50px;
	padding: 10px 20px; 
	width:984px;
	height: 83px; 
}
#pieddepage p {
	font-size:12px;
	color:#fff; 
	margin:10px auto 0 auto;
	padding:0;
	text-align:center;
	width:900px;
}
#pieddepage a {
	color:#fff; 
	text-decoration:underline;
}
#pieddepage a:hover {}
.micro-footer{font-size:11px;text-align:right;}
.micro-footer a{font-size:11px;color:#222222;text-decoration:underline;} 
.micro-footer a:visited { color:#222222; }
/*################ La date de mise à jour #################*/
.sdate{float:right;font-size:12px;}
/**
 * ####################### La liste des news ##########################
 */
.listnews{padding:5px;}
.listnews .listnews-header{background-color:#CCC;padding:5px;font-size:12px;}
.listnews-header-link a{color:#58585A;text-decoration:underline;}
.listnews .listnews-header a:hover{color:#white;}
.listnews .listnews-content{padding:5px;font-size:12px;}
/*####################### La news ##########################*/
/*####################### Widget ##########################*/
/* #### Widget News ####*/
.widget-news{font-size:12px;margin:5px;width:60%;padding:5px;}
.widget-news-header{padding:5px;}
.widget-news-content{padding:5px;}
/*############## Catalog ##################*/
#catalog-list-category{
	margin-left:10px;
}
.list-img-category{
	margin:5px;
	float:left;
	width:150px;
	height:150px;
}
.img-product{padding:5px;text-align:center;}
#catalog-list-category .title-product{padding:0 5px 0 5px;}
.bg-soldout{float:right;margin-right:10px;width:50px;height:50px;}
#catalog-list-category .title-product{padding:0 5px 0 5px;border:none;}
#catalog-list-category .title-product a{font-size:12px;color:#000;}
#catalog-list-category .title-product a:hover{color:white;}
.list-img-category p{padding-left:5px;}
.catalog-product-content{padding:5px;}
.title-category{}
.title-category p{padding-left:2px;}
.title-category a{}
#catalog-product .catalog-product-content{padding:5px;font-size:12px;}
#catalog-product .catalog-product-content p{font-size:12px;}
#product-tabs ul li a.tabslink{ font-size:12px;}
/*############## Micro galery ##################*/
#list-image-galery{
	margin-left:30px;
	width:700px;
}
.list-img{
	margin:3px;
	float:left;
	width:130px;
	height:130px;
}
.img-galery{padding:2px;text-align:center;}
.title-galery-image{padding:0 5px 0 5px;}
/*#################### menu fixe Fil d'ariane ###########################*/
#barfixed {
   margin-top:25px;
   position:fixed;
   left:0;
   bottom:0;
   height:18px;
   width:100%;
   z-index:100;
   /*
    * background-color:#7C7C7C;/*
    */
   background:#FFF;
   /*padding-top: 2px;*/
}
#barfixed #breadcrum{
	position:relative;
	margin:0 auto;
	width:1024px;
}
#barfixed #breadcrum ul li{
	font-size:11px;
	color:#222222;
	float:left;
	margin-left:5px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding:0;
}
#barfixed #breadcrum ul li a{
	float:left;padding-top:2px;
	font-size:11px;
	color:#222222;
	text-decoration:underline;
}
/*
 * jQuery UI Tabs @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tabs#theming
 */
.ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }
/**
 * ############################## Utility class
 ***/
.clearfix{display:block;}
.lfloat {float:left;}
.rfloat{float:right;}
.clearboth{clear:both;}
.clearleft{clear:left;}
.hide{display:none;}