@CHARSET "UTF-8";
* {
	margin: 0;
	padding: 0;
	border:0 none;
}
html{
	width: 100%;
}
body{
	background-color:#58585a;
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
} 
h1 { font-size: 180%; }
h2 { font-size: 140%; }
h3 { font-size: 120%; }
h4 { font-size: 100%; }
h5 { font-size: 90%; }
h6 { font-size: 80%; }
p {
	margin: 0.2em 0 0.8em 0;
	line-height: 1.3em;
	font-size:15px;
}
h1,h2,h3,h4,h5, h6 {
	margin: 0 0 0.2em 0;
}
ul { list-style: none; }
ul li { 
	list-style: none;
}
ol li{}
a {
	text-decoration: none;
}
a:link { }
a:visited { }
a:hover {}
a:focus { }
a[hreflang]:after { }
a img { border:none;}
/*##########################Les autres pages#########################*/
#page {
	background-color:#dcdcdc;
	margin:0 auto;
	position:relative;
	width:984px;
	padding:20px;
}
/*########################## Menu horizontal #########################*/
#headmenu{
	background-color:#BFBFBF;
	height:40px;
	margin:0 auto 0 auto;
	position:relative;
	width:984px;
	font-size:12px;
}
#headmenu ul{margin:0;padding:5px 0 0 0;}
#headmenu ul li{margin-left:10px;padding:5px;float:left;border:1px dashed white;background-color:#dcdcdc;height:20px;}
#headmenu ul li:hover{border:1px dashed #dcdcdc;background-color:white;}
#headmenu ul li a{color:#333;}
#headmenu ul li a:hover{color:#333333;}
/*#### Entete #####*/
#entete{
	width:984px;
	height:142px;
	background:#FFF;
}
#entete .top{
	float:left;
	background:#FFF url(/skin/default/img/logo-magixcms.png) no-repeat;
	margin: 20px 0 0 20px;
	padding: 0;
	width:394px;
	height:89px;
}
#entete #prelude{
	color: #ccc;
	float: right;
	margin-right:15px;
	margin-top:0px;
}
#entete #prelude a{
	color: #666;
	font-size: 11px;
	font-style: italic;
}
#entete #prelude a:hover{
	color: black;
	font-style: italic;
}
h1{
	font-weight: 500;
}
/*################### menu top ############################*/
#topmenu{margin:0;padding:0;width:100%;height:30px;background-color:#000;}
#topmenu ul{margin:0;padding:0;}
#topmenu ul li{float:left;margin:0 0 0 0;}
#topmenu ul li div{background-color:#666;border:1px solid #fff;}
/*Content global*/
#content{
	margin:0;padding:0;
	width:auto;
	height:auto 0;
}
/****************** position du contenu *********************/
#extra {
	margin: 0;padding:0;
	width: 195px;
	float:left;
}
#principal {
	margin:3px 0 0 210px !important;
	margin:3px 0 0 210px;
	padding:5px;
	font-size:100%;
	width:auto;
	color:#58585a;
	background:white;
}
#principal ul{}
#principal ol li{}
#principal ul li{
	font-size:15px;
	list-style:square;
	margin: 0.2em 0 0.2em 3em;
}
#principal a{font-size:15px;color:#560b4b;}
#principal a:hover{color:#6f0d61;}
/*#extra a{color: #696969; font-size: 100%;}*/
#extra a:hover{}
#extra h2{}
#extra .sidebar{
	margin: 0;padding: 0;
	width:190px;
	background:#BFBFBF;
}
.sidebar ul{}
.sidebar ul li{
	font-size:11px;
	/*list-style:square;
	margin: 0.1em 0 0.1em 1.1em;*/
}
/* ########## menu example :simple cms et minimal catalog ################# */
.personnal-side-list {
	list-style: none;
	margin: 0px;
	margin-right: 25px;
	padding: 0px;
	padding-left: 5px;
	padding-top: 2%;
	width: 175px;
	float: left;
}
.personnal-side-list li {
	margin: 0px;
	font-size: 13px;
}
.personnal-side-list li a {
	padding: 6px 0 6px 0;
	text-align: left;
	text-decoration: none;
	position: relative;
	display: block;
}
.personnal-side-list li a.active-page,.personnal-side-list li a.active-page:hover {
	color:#fff;
	background:#696969;
	padding-left:5px;
	left:10px;
}
.personnal-side-list li a:hover {
	background:#696969;
	color:#fff;
	padding-left:5px;
}
.personnal-side-list li div:hover{}
#page-menu-nolang h3{background:white;}
/*************************** Footer ***********************/
#pieddepage{clear:both;}
#pieddepage {
	background-color:white;
	border:1px dashed #ccc;
	margin-top:22px;
	height:50px;
	padding:0;
	width:984px;
}
#pieddepage p {
	font-size:12px;
	color:#696969;
	margin:10px auto 0 auto;
	padding:0;
	text-align:center;
	width:900px;
}
#pieddepage a {
	color:#696969;
	text-decoration:underline;
}
#pieddepage a:hover {}
.micro-footer{font-size:11px;text-align:right;}
.micro-footer a{font-size:11px;color:#0A8ECC;text-decoration:underline;}
/**
 * ####################### La liste des news ##########################
 */
.listnews{padding:5px;}
.listnews .listnews-header{background-color:#CCC;padding:5px;}
.listnews-header-link a{color:#58585A;text-decoration:underline;}
.listnews .listnews-header a:hover{color:#white;}
.listnews .listnews-content{padding:5px;}
/*####################### La news ##########################*/
.sdate{float:right;}
/*####################### Widget ##########################*/
/* #### Widget News ####*/
.widget-news{margin:5px;width:60%;padding:5px;}
.widget-news-header{padding:5px;}
.widget-news-content{padding:5px;}
/*############## Catalog ##################*/
#catalog-list-category{
	margin-left:10px;
}
.list-img-category{
	margin:5px;
	float:left;
	width:150px;
	height:150px;
}
.img-product{padding:5px;text-align:center;}
#catalog-list-category .title-product{padding:0 5px 0 5px;}
.catalog-product-content{padding:5px;}
.bg-soldout{float:right;margin-right:10px;width:50px;height:50px;}
#catalog-list-category .title-product{padding:0 5px 0 5px;}
#catalog-list-category .title-product a{}
.list-img-category p{padding-left:5px;}
.catalog-product-content{padding:5px;}
.title-category{}
.title-category p{padding-left:2px;}
.title-category a{}
/*############## Micro galery ##################*/
#list-image-galery{
	margin-left:30px;
	width:700px;
}
.list-img{
	margin:3px;
	float:left;
	width:130px;
	height:130px;
}
.img-galery{padding:2px;text-align:center;}
.title-galery-image{padding:0 5px 0 5px;}
/*#################### menu fixe Fil d'ariane ###########################*/
#barfixed {
   margin-top:25px;
   position:fixed;
   left:0;
   bottom:0;
   height:25px;
   width:100%;
   z-index:100;
   background-color:#58585a;
}
#barfixed #breadcrum{
	position:relative;
	margin:0 auto;
	width:1024px;
}
#barfixed #breadcrum ul li{
	font-size:11px;
	color:#222222;
	float:left;
	margin-left:5px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
#barfixed #breadcrum ul li a{font-size:11px;color:#222222/*#0A8ECC*/;text-decoration:underline;}