ul.list,
ul.list-img,
.list,
.list-img {
	margin: 0 0 20px 0;
	overflow: visible;
	padding: 0;
}

.list li {
	background: transparent;
	margin: 0 10px 0 0;
	overflow: visible;
	padding: 5px;
}

.float li {
	display:block;
	float:left;
	margin: 0 10px 10px 0;
	padding: 0;
	background:transparent;
}

.float .last {
	margin-right: 0px;	
}

/* list d'images */
.list-img li {
	background: transparent;
	display: block;
	float: left;
	height: 44px;
	margin: 0 20px 20px 0;
	overflow: hidden;
	padding: 0px;
	width: 44px;
}

.list-img .last {
	margin-right: 0px;
}

.list-img a,
.list-img a:hover  {
	display: block;
	height: 44px;
	width: 44px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
	
	.list-img.medium li {
		height: 108px;
		width: 108px;
	}

	.list-img.medium a {
		height: 108px;
		width: 108px;
	}

/* Treeview */
.treeview .hitarea,
.treeview div.lastExpandable-hitarea,
.treeview div.lastCollapsable-hitarea {
	background-color: transparent;
	background-image: url(../img/framework-css/list/hitarea.png);
	background-position: 0 -26px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	margin-left: -24px;
	float: left;
	cursor: pointer;
}

	.treeview .expandable-hitarea,
	.treeview div.lastExpandable-hitarea { 
		background-position: 0 -2px; 
	}

.treeview li,
.treeview li.lastExpandable,
.treeview li.lastCollapsable { 
	margin: 0;
	padding-left:  24px;
}

.treeview ul li {
	background: transparent;
	padding-left: 10px;
}

.no-link {
	cursor:pointer;
}


/** Fil d'ariane**/	
.ariane {
	border-bottom: 1px solid #CCCCCC ;
	margin: 0 0 10px 0;
	overflow: hidden;
	list-style: none;
}

.ariane li,
.ariane span {
	background:  none;
	float: left;
	margin-right: 5px;
	padding: 0;
}

.ariane,
.ariane a,
.ariane li  {
	background: transparent;
	color: #4c4c4c;
	font-size: 11px;
	padding-left: 0px;
}

/* Horizontal nav with subnav */
.h-nav li {
	position: relative;
	margin: 0;
}

.h-nav a {
	display:block;
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	margin: 0px; 
	padding: 0 10px;
	text-decoration: none;
}
	
/* Subnav Start */
.h-nav ul {
  display: none;
  height: auto;
  margin:0;
  padding:0;
  position: absolute;
    bottom: 40px; 
     left: 0px;
  }
 
	.h-nav li:hover ul{
	  display: block;
	  margin:0;
	  padding:0;
	  position: absolute;
	    top: 40px; 
	     left: 0px;
	  }

.h-nav ul li{
	float: none;
	height: auto;
	margin: 0px;
	padding: 0px;  
	text-align: left;
	width: auto;
 }
    
	.h-nav ul a {
	  display:block;
	  font-size: 12px;
	  font-weight: normal;
	  min-height: 18px;
	  height: auto;
	  line-height: 16px;
	  margin: 0;
	  padding: 0;
	  text-align: left;
	  text-decoration: none;  
	  width: 170px;
	  }
	  
/* Pagination */
.pagination a, .pagination .current {
    background: none repeat scroll 0 0 #4C4C4C;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    margin-right: 6px;
    text-align: center;
    width: 24px;
}
.pagination .current, .pagination a:hover {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #4C4C4C;
    color: #4C4C4C;
    height: 22px;
    width: 22px;
}