.full {
	background-color: transparent;
	margin-bottom: 11px;	
	min-width: 1024px;
	overflow: hidden;
	width: 100%;
}

.full-top,
.full-repeat,
.full-bottom {
	margin: 0 ;
	overflow: hidden;
	padding: 0;
}

.bg-top.w16-16,
.bg-repeat.w16-16,
.bg-bottom.w16-16 {
	height: 10px;
}

.container {
	margin: 0 auto;
	overflow: hidden;
	padding: 10px;
	width: 1004px;
}

.bg-top.w16-16,
.bg-repeat.w16-16,
.bg-bottom.w16-16 {
	margin: 0 auto;
	overflow: hidden;
	padding: 0 10px;
	width: 1004px;
}

.bg-top.w16-16,
.bg-repeat.w16-16,
.bg-bottom.w16-16 {
	height: 10px;
}

.bg-dark,
.bg-light {
	padding: 10px;
}

.block {
	display: block;
	margin: 0 20px 20px 0;
}

/*** BLOCK SIZE START ***/

*+html .block {
	margin: 0 10px 10px 0;
}


.w1-16 {
	width: 44px;
}

	.w1-16.bg-dark, .w1-16.bg-light {
		width: 24px;
	}

.w2-16 {
	width: 108px;
}

	.w2-16.bg-dark,	.w2-16.bg-light {
		width: 88px;
	}

.w3-16 {
	width: 172px;
}

	.w3-16.bg-dark,	.w3-16.bg-light {
		width: 152px;
	}

.w4-16 {
	width: 236px;
}

	.w4-16.bg-dark,	.w4-16.bg-light {
		width: 216px;
	}

.w5-16 {
	width: 300px;
}

	.w5-16.bg-dark,	.w5-16.bg-light {
		width: 280px;
	}

.w6-16 {
	width: 364px;
}

	.w6-16.bg-dark,	.w6-16.bg-light {
		width: 344px;
	}

.w7-16 {
	width: 428px;
}

	.w7-16.bg-dark,	.w7-16.bg-light {
		width: 408px;
	}

.w8-16 {
	width: 492px;
}

	.w8-16.bg-dark,	.w8-16.bg-light {
		width: 472px;
	}

.w9-16 {
	width: 556px;
}

	.w9-16.bg-dark,	.w9-16.bg-light {
		width: 536px;
	}

.w10-16 {
	width: 620px;
}

	.w10-16.bg-dark, .w10-16.bg-light {
		width: 600px;
	}

.w11-16 {
	width: 684px;
}

	.w11-16.bg-dark, .w11-16.bg-light {
		width: 664px;
	}

.w12-16 {
	width: 748px;
}

	.w12-16.bg-dark, .w12-16.bg-light {
		width: 728px;
	}

.w13-16 {
	width: 812px;
}

	.w13-16.bg-dark, .w13-16.bg-light {
		width: 792px;
	}

.w14-16 {
	width: 876px;
}

	.w14-16.bg-dark, .w14-16.bg-light {
		width: 856px;
	}

.w15-16 {
	width: 940px;
}

	.w15-16.bg-dark, .w15-16.bg-light {
		width: 920px;
	}

.w16-16 {
	width: 1004px;
}

	.w16-16.bg-dark, .w16-16.bg-light {
		width: 984px;
	}


.last {
	margin-right: 0;
}
/* BLOCK SIZE END */

/* CHILD SIZE START */


.ch1-2 .child,
.ch1-3 .child,
.ch1-4 .child {
	display: block;
	float: left;
	margin: 0 20px 20px 0;
}
/* w4-16 normal 236px   bg 216 */
	.w4-16 .ch1-2 .child,
	.w4-16.ch1-2 .child {
		width: 108px;
	}

	.w4-16 .ch1-3 .child,
	.w4-16.ch1-3 .child {
		width: 65px;
	}

	.w4-16 .ch1-4 .child,
	.w4-16.ch1-4 .child {
		width: 44px;
	}

			.w4-16.bg-dark .ch1-2 .child,
			.w4-16.bg-light .ch1-2 .child,
			.w4-16.bg-dark.ch1-2 .child,
			.w4-16.bg-light.ch1-2 .child {
				width: 98px;
			}

			.w4-16.bg-dark .ch1-3 .child,
			.w4-16.bg-light .ch1-3 .child,
			.w4-16.bg-dark.ch1-3 .child,
			.w4-16.bg-light.ch1-3 .child {
				width: 58px;
			}

			.w4-16.bg-dark .ch1-4 .child,
			.w4-16.bg-light .ch1-4 .child,
			.w4-16.bg-dark.ch1-4 .child,
			.w4-16.bg-light.ch1-4 .child {
				width: 39px;
			}

/* w5-16 normal 300px   bg 280 */
	.w5-16 .ch1-2 .child,
	.w5-16.ch1-2 .child {
		width: 140px;
	}

	.w5-16 .ch1-3 .child,
	.w5-16.ch1-3 .child {
		width: 86px;
	}

	.w5-16 .ch1-4 .child,
	.w5-16.ch1-4 .child {
		width: 60px;
	}

			.w5-16.bg-dark .ch1-2 .child,
			.w5-16.bg-light .ch1-2 .child,
			.w5-16.bg-dark.ch1-2 .child,
			.w5-16.bg-light.ch1-2 .child {
				width: 130px;
			}

			.w5-16.bg-dark .ch1-3 .child,
			.w5-16.bg-light .ch1-3 .child,
			.w5-16.bg-dark.ch1-3 .child,
			.w5-16.bg-light.ch1-3 .child {
				width: 80px;
			}
	
			.w5-16.bg-dark .ch1-4 .child,
			.w5-16.bg-light .ch1-4 .child,
			.w5-16.bg-dark.ch1-4 .child,
			.w5-16.bg-light.ch1-4 .child {
				width: 55px;
			}


/* w6-16 normal 364px   bg 341 */
	.w6-16 .ch1-2 .child,
	.w6-16.ch1-2 .child {
		width: 172px;
	}

	.w6-16 .ch1-3 .child,
	.w6-16.ch1-3 .child {
		width: 108px;
	}

	.w6-16 .ch1-4 .child,
	.w6-16.ch1-4 .child {
		width: 76px;
	}

		.w6-16.bg-dark .ch1-2 .child,
		.w6-16.bg-light .ch1-2 .child,
		.w6-16.bg-dark.ch1-2 .child,
		.w6-16.bg-light.ch1-2 .child {
			width: 162px;
		}
	
		.w6-16.bg-dark .ch1-3 .child,
		.w6-16.bg-light .ch1-3 .child,
		.w6-16.bg-dark.ch1-3 .child,
		.w6-16.bg-light.ch1-3 .child {
			width: 101px;
		}
	
		.w6-16.bg-dark .ch1-4 .child,
		.w6-16.bg-light .ch1-4 .child,
		.w6-16.bg-dark.ch1-4 .child,
		.w6-16.bg-light.ch1-4 .child {
			width: 71px;
		}


/* w7-16 normal 428px   bg 408 */
	.w7-16 .ch1-2 .child,
	.w7-16.ch1-2 .child {
		width: 204px;
	}

	.w7-16 .ch1-3 .child,
	.w7-16.ch1-3 .child {
		width: 129px;
	}

	.w7-16 .ch1-4 .child,
	.w7-16.ch1-4 .child {
		width: 92px;
	}

		.w7-16.bg-dark .ch1-2 .child,
		.w7-16.bg-light .ch1-2 .child,
		.w7-16.bg-dark.ch1-2 .child,
		.w7-16.bg-light.ch1-2 .child {
			width: 194px;
		}
	
		.w7-16.bg-dark .ch1-3 .child,
		.w7-16.bg-light .ch1-3 .child,
		.w7-16.bg-dark.ch1-3 .child,
		.w7-16.bg-light.ch1-3 .child {
			width: 122px;
		}
	
		.w7-16.bg-dark .ch1-4 .child,
		.w7-16.bg-light .ch1-4 .child,
		.w7-16.bg-dark.ch1-4 .child,
		.w7-16.bg-light.ch1-4 .child {
			width: 87px;
		}

/* w8-16 normal 492px   bg 472 */
	.w8-16 .ch1-2 .child,
	.w8-16.ch1-2 .child {
		width: 236px;
	}

	.w8-16 .ch1-3 .child,
	.w8-16.ch1-3 .child {
		width: 150px;
	}

	.w8-16 .ch1-4 .child,
	.w8-16.ch1-4 .child {
		width: 108px;
	}

		.w8-16.bg-dark .ch1-2 .child,
		.w8-16.bg-light .ch1-2 .child,
		.w8-16.bg-dark.ch1-2 .child,
		.w8-16.bg-light.ch1-2 .child {
			width: 226px;
		}
	
		.w8-16.bg-dark .ch1-3 .child,
		.w8-16.bg-light .ch1-3 .child,
		.w8-16.bg-dark.ch1-3 .child,
		.w8-16.bg-light.ch1-3 .child {
			width: 144px;
		}
	
		.w8-16.bg-dark .ch1-4 .child,
		.w8-16.bg-light .ch1-4 .child,
		.w8-16.bg-dark.ch1-4 .child,
		.w8-16.bg-light.ch1-4 .child {
			width: 103px;
		}


/* w9-16 normal 556px   bg 536 */
	.w9-16 .ch1-2 .child,
	.w9-16.ch1-2 .child {
		width: 268px;
	}

	.w9-16 .ch1-3 .child,
	.w9-16.ch1-3 .child {
		width: 172px;
	}

	.w9-16 .ch1-4 .child,
	.w9-16.ch1-4 .child {
		width: 124px;
	}

		.w9-16.bg-dark .ch1-2 .child,
		.w9-16.bg-light .ch1-2 .child,
		.w9-16.bg-dark.ch1-2 .child,
		.w9-16.bg-light.ch1-2 .child {
			width: 258px;
		}
	
		.w9-16.bg-dark .ch1-3 .child,
		.w9-16.bg-light .ch1-3 .child,
		.w9-16.bg-dark.ch1-3 .child,
		.w9-16.bg-light.ch1-3 .child {
			width: 165px;
		}
	
		.w9-16.bg-dark .ch1-4 .child,
		.w9-16.bg-light .ch1-4 .child,
		.w9-16.bg-dark.ch1-4 .child,
		.w9-16.bg-light.ch1-4 .child {
			width: 119px;
		}

/* w10-16 normal 617px   bg 603 */
	.w10-16 .ch1-2 .child,
	.w10-16.ch1-2 .child {
		width: 300px;
	}

	.w10-16 .ch1-3 .child,
	.w10-16.ch1-3 .child {
		width: 193px;
	}

	.w10-16 .ch1-4 .child,
	.w10-16.ch1-4 .child {
		width: 140px;
	}

		.w10-16.bg-dark .ch1-2 .child,
		.w10-16.bg-light .ch1-2 .child,
		.w10-16.bg-dark.ch1-2 .child,
		.w10-16.bg-light.ch1-2 .child {
			width: 290px;
		}
	
		.w10-16.bg-dark .ch1-3 .child,
		.w10-16.bg-light .ch1-3 .child,
		.w10-16.bg-dark.ch1-3 .child,
		.w10-16.bg-light.ch1-3 .child {
			width: 186px;
		}
	
		.w10-16.bg-dark .ch1-4 .child,
		.w10-16.bg-light .ch1-4 .child,
		.w10-16.bg-dark.ch1-4 .child,
		.w10-16.bg-light.ch1-4 .child {
			width: 135px;
		}


/* w11-16 normal 684px   bg 664 */
	.w11-16 .ch1-2 .child,
	.w11-16.ch1-2 .child {
		width: 332px;
	}

	.w11-16 .ch1-3 .child,
	.w11-16.ch1-3 .child {
		width: 214px;
	}

	.w11-16 .ch1-4 .child,
	.w11-16.ch1-4 .child {
		width: 156px;
	}

		.w11-16.bg-dark .ch1-2 .child,
		.w11-16.bg-light .ch1-2 .child,
		.w11-16.bg-dark.ch1-2 .child,
		.w11-16.bg-light.ch1-2 .child {
			width: 322px;
		}
	
		.w11-16.bg-dark .ch1-3 .child,
		.w11-16.bg-light .ch1-3 .child,
		.w11-16.bg-dark.ch1-3 .child,
		.w11-16.bg-light.ch1-3 .child {
			width: 208px;
		}
	
		.w11-16.bg-dark .ch1-4 .child,
		.w11-16.bg-light .ch1-4 .child,
		.w11-16.bg-dark.ch1-4 .child,
		.w11-16.bg-light.ch1-4 .child {
			width: 151px;
		}


/* w12-16 normal 783px   bg 723 */
	.w12-16 .ch1-2 .child,
	.w12-16.ch1-2 .child {
		width:  364px;
	}

	.w12-16 .ch1-3 .child,
	.w12-16.ch1-3 .child {
		width:  236px;
	}

	.w12-16 .ch1-4 .child,
	.w12-16.ch1-4 .child {
		width:  172px;
	}

		.w12-16.bg-dark .ch1-2 .child,
		.w12-16.bg-light .ch1-2 .child,
		.w12-16.bg-dark.ch1-2 .child,
		.w12-16.bg-light.ch1-2 .child {
			width:  354px;
		}

		.w12-16.bg-dark .ch1-3 .child,
		.w12-16.bg-light .ch1-3 .child,
		.w12-16.bg-dark.ch1-3 .child,
		.w12-16.bg-light.ch1-3 .child {
			width:  229px;
		}
	
		.w12-16.bg-dark .ch1-4 .child,
		.w12-16.bg-light .ch1-4 .child,
		.w12-16.bg-dark.ch1-4 .child,
		.w12-16.bg-light.ch1-4 .child {
			width:  167px;
		}


/* CHILD SIZE END */

.ch1-2.ch-light .box,
.ch1-2.ch-dark .box, 
.ch1-3.ch-light .box,
.ch1-3.ch-dark .box, 
.ch1-4.ch-light .box,
.ch1-4.ch-dark .box {
	padding: 10px;;
}

.last,
.block.last,
.ch1-2 .child.last, 
.ch1-3 .child.last, 
.ch1-4 .child.last {
	margin-right: 0;
}

.lfloat {
	float:left;
}

.rfloat {
	float:right;
}

img.rfloat,
.img.rfloat {
  margin: 0 0 10px 10px;
}

img.lfloat,
.img.lfloat {
  margin: 0 10px 10px 0;
}

.clear {
	clear:both;
}

.lclear {
	clear:left;
}

.rclear {
	clear: right;
}

*+html hr.lclear,
*+html hr.rclear,
*+html hr.clear  {
 	display: block;
 	height: 1px;
}
