body {
    background-color: #F5F5F5;
}

#page {
    margin: 40px auto;
    background-color: #FFF;
    box-shadow: 0px 0px 12px 6px rgba(0,0,0,.2);
}

    .ie7 #page {
        border: 1px solid #CCC;
    }

#header {
    position: relative;
    top: -10px;
}

    #header-navbar {
        margin-bottom: 0px;
    }

    #logo {
        margin: 0;
        padding: 0;
    }

        #primary-nav > li > a {
            height: 40px;
            line-height: 40px;
        }

#breadcrumb {
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 8px 20px;
    background: transparent;
}

    #breadcrumb > li {
        font-size: 11px;
    }

#share-box {
    position: relative;
    float: right;
}

    #share-box > li > .dropdown-menu {
        left: auto;
        right: 0;
    }

        #share-nav > li > a > img {
            margin-right: 10px;
        }

        #share-google-inner {
            padding: 3px 20px;

        }

#primary-sidebar {
    margin-left: 40px;
}

    #secondary-nav {
        margin-bottom: 20px;
    }

#article {
    margin-left: 0;
}

    #article-inner {
        float: none;
        margin: 0 auto;
    }

    #article-inner > h1:first-child {
        margin: 0 0 20px 0;
    }

        #product-info {
            text-align: center;
        }

#product-gallery {
    clear: both;
}

#footer-inner {
    margin-bottom: 0;
}

/*** Désactivation temporaire du .stateVal en attendant refonte du formulaire de contact ***/
.stateVal {
    visibility: hidden;
    margin-top: -1px;
    height: 1px;
}

/*** Extend nav-list to sub-,av-list ***/
.subnav-list {
    margin-left: 10px;
    margin-bottom: 10px;
}

    .subnav-list > li {
        list-style: none;
        font-size: .9em;
    }

        .subnav-list > li > a {
            display: block;
            color: #555;
        }

        .subnav-list > li.active > a {
            font-weight: bold;
        }

/*** Remove border-radius on nav-bar **/
.navbar-inner {
    border-radius: 0;
}

/*** Pagination html structure pas compatible ***/
.pagination > div,
.pagination > a {
    display: inline-block;
    padding: 5px;
}