body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}
.box-login {
    background-color: #FFFFFF;
    background-image: linear-gradient(to bottom, #E6E6E6, #FFFFFF);
    background-repeat: repeat-x;
    border-color: #A2A2A2 #A2A2A2 #BBBBBB;
    margin-top:10px;
    padding: 10px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
    margin-left: auto;
    margin-right: auto;
}
.nav-header {
    font-size:14px;
}