@CHARSET "UTF-8";
* {
	margin: 0;
	padding: 0;
	border:0 none;
}
html{
	background-color:#042139;
}
* html input,
* html .widget {
    border-color: #dfdfdf;
}
body{
	margin: 0;
	padding: 0;
	font-family: Helvetica,sans-serif;
	font-size:12px;
} 
h1 { font-size: 16px; }
h2 { font-size: 14px; }
h3 { font-size: 12px; }
h4 { font-size: 11px; }
p {}
h1,h2,h3,h4,h5, h6 {
	font-weight: bold;
}
ul { list-style: none; }
ul li { 
	list-style: none;
}
ol li{}
a {text-decoration: none;}
a:link {}
a:visited {}
a:hover {}
a:focus {}
a[hreflang]:after {}
a img {border:none;}
.strong{font-weight:bold;}
.lfoot a{color:#1d76ce;}
.lfoot a:hover{text-decoration:underline;}
body,
#acbody,.form-table .pre {
	color: #fff;
}
#page {
	margin:10px auto 0 auto;
}
#content{
	margin:0;
	height: auto 0;
}
#log-board{
	margin:0 auto;
	position:relative;
}
#install{position:relative;margin:0 auto;width:800px;}
/*HEADER*/
#achead {
	background: url(/framework/img/logo-login.png) no-repeat;
	height: 45px;
	width: 200px;
	margin:5px 0 0 10px;
}
#footer{
	padding: 15px;
	margin: 10px 0 0 0;
	clear:left;
	color:#fff;
	text-align: left;
	font-size: 12px;
}
/**
 * ############ LES DIVS de positionnement #############
 */
.right-text-infos p{font-size:12px;}
.center-text-infos{padding:5px;}
.center-text-infos p{font-size:16px;}
.center-text-infos ul{margin-left:20px;}
.center-text-infos ul li{list-style:square;font-size:16px;}
.center-text-infos ul li a{text-decoration:underline;}
#phpversion,#mbstr,#iconv,#obst,#simple,#dom,#spl{height:16px;}
.tdrequest{height:16px;}
/*#install-check,#upgrade-check{font-weight:bold;font-size:22px;width:185px;height:35px;margin:5px;}
#install-config{font-weight:bold;width:185px;height:30px;margin:5px;}*/
/*########### Table contain #############*/
.tableversion {margin: 0 0 0 10px; border-collapse: collapse; width: 750px;}
.tableversion th,.tableversion td{text-align: left;}
.tableversion th {padding: .1em 4px;}
.tableversion th td{padding: .4em 4px;}
.tableversion tr td{padding: .3em 4px;border:1px #AFAFAF solid;}
.tableversion tr td:first-child{width:100px;}
.tableversion tr td.cell-icon{width:1%;}
.tableversion tr:hover {}
.tableversion td a{text-decoration:underline;}
.tableversion td a:hover{}