@CHARSET "UTF-8";
* {
	margin: 0;
	padding: 0;
	border:0 none;
}
html{
	background-color:#042139;
}
* html input,
* html .widget {
    border-color: #dfdfdf;
}
body{
	margin: 0;
	padding: 0;
	font-family: Helvetica,sans-serif;
	font-size:12px;
} 
h1 { font-size: 180%; }
h2 { font-size: 140%; }
h3 { font-size: 120%; }
h4 { font-size: 100%; }
h5 { font-size: 90%; }
h6 { font-size: 80%; }
p {}
h1,h2,h3,h4,h5, h6 {
	font-weight: bold;
}
ul { list-style: none; }
ul li { 
	list-style: none;
}
ol li{}
a {text-decoration: none;}
a:link {}
a:visited {}
a:hover {}
a:focus {}
a[hreflang]:after {}
a img {border:none;}
.strong{font-weight:bold;}
.lfoot a{color:#1d76ce;}
.lfoot a:hover{text-decoration:underline;}
body,
#acbody,.form-table .pre {
	color: #fff;
}
#page {
	margin:0 auto;
}
#content{
	margin:0;
	height: auto 0;
}
#log-board{
	margin:0 auto;
	position:relative;
}
#install{position:relative;margin:0 auto;width:800px;}
/*HEADER*/
#achead {
	background:#042139 url(/framework/img/logo.jpg) no-repeat;
	height: 82px;
}
#footer{
	padding: 15px;
	margin: 10px 0 0 0;
	clear:left;
	color:#fff;
	text-align: left;
	font-size: 12px;
}
/**
 * ############ LES DIVS de positionnement #############
 */
.right-text-infos p{font-size:12px;}
.center-text-infos{padding:5px;}
.center-text-infos p{font-size:16px;}
.center-text-infos ul{margin-left:20px;}
.center-text-infos ul li{list-style:square;font-size:16px;}
.center-text-infos ul li a{text-decoration:underline;}
/*######################### dashboard wuidget UI ########################*/
.dashboard-widget-h2{padding:0;color:#696969;}
.column { width:50%;/*width: 170px;*/ float: left; padding:0; }
.dashboard-widget { margin: 0 0.4em 0.4em 0; }
.dashboard-widget-header { margin: 0.3em; padding-top:5px;padding-bottom: 5px; padding-left: 0.2em; }
.dashboard-widget-header .ui-icon { float: right; }
.dashboard-widget-content { /*padding: 0.4em;*/ }
.dashboard-widget ul{margin-left:0.8em;padding:4px;}
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }
.dashboard-h2{padding:0;color:#696969;}
.dashboard{ margin: 0 1em 1em 0; float:left;width:100%;}
.inputtext,.fulltext{background-color:white;padding:4px;}
.inputdisabled{background-color:#ccc;padding:4px;}
.ui-input{padding:4px;}
.dashboard{ float:left;width:98%!important;}
.dashboard-header { margin: 0.3em; padding-top:5px;padding-bottom: 5px; padding-left: 0.2em; }
.dashboard-header .ui-icon { float: right; }
.dashboard-content { /*padding: 0.4em;*/width:100%; }
a.widget-links{text-decoration:underline;}
/* TABLES CLEAR
-------------------------------------------------------- */
.clear {
	font-size : 11px;
	border-collapse : collapse;
	margin : 0 0 1em 1.4em;
	max-width:750px;
}
 .clear tr.line:hover {
	background : #696969;
}
.clear tr.line{}
.clear th{
	border-width : 0 0 1px 0;
	border-style : solid;
	border-color : #ececec;
	padding : 3px 1px;
	vertical-align : top;
	opacity: 0.5;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
}
.clear td {
	border-width : 0 0 1px 0;
	border-style : solid;
	border-color : #ececec;
	padding : 3px 1px;
	vertical-align : top;
}
.clear th {
	text-align : left;
	border-bottom-color : #666;
}
.clear .noborder td, td.noborder {
	border-width : 0;
	border:none;
}
.clear .maximal, table.maximal {
	width : 100%;
}
.clear .minimal {
	width : 1px;
}
.clear .nowrap {
	white-space : nowrap;
}
.clear .nowrap a {
	color:white;
}
.clear td.status {
	vertical-align: middle;
}
.clear td.status img {
	margin-bottom: -2px;
}
.clear td.status a {
	border: none;
}
.clear tr.line img.expand {
	margin-right: 10px;
	margin-bottom: -2px;
}
.clear tr.line input {
	vertical-align: top;
}
.clear tr.expand td {
	border-bottom: none;
}
.clear .expand {
	padding: 1em;
}
.clear .medium {
	width : 30%;
}
.clear .fixed-medium{
	/*width:100px;*/
}
.clear .dragable {
	border-collapse: separate;
}
.clear .dragable tbody td {
	
}
.clear .handle {
	padding : 0;
}
.clear .handler {
	/*cursor : move;
	background : transparent url(drag.png) no-repeat 0 50%;
	padding-left : 15px;*/
}
#phpversion,#mbstr,#iconv,#obst,#simple,#dom,#spl{height:16px;}
.tdrequest{height:16px;}
#install-check,#upgrade-check{font-weight:bold;font-size:22px;width:185px;height:35px;margin:5px;}
#install-config{font-weight:bold;width:185px;height:30px;margin:5px;}
/**
 * pagination
 */
.pagination {
	display:block;
	float:left;
	font-size:0.8em;
	padding:0;
	width:100%;
}
.pagination .pages {
	float:left;
	font-weight:700;
	height:28px;
	line-height:28px;
	margin:2px;
	padding:0;
	text-align:center;
}
.pagination .current{
	background:transparent url(/framework/img/pagination_a.gif) repeat scroll left top;
	color:#111111;
	float:left;
	font-weight:700;
	height:28px;
	line-height:28px;
	margin:2px;
	padding:0;
	text-align:center;
	width:32px;
}
.ui-widget-content .pagination a{
	background:transparent url(/framework/img/pagination_a.gif) repeat scroll left 56px;
	color:#222222;
	float:left;
	height:28px;
	line-height:28px;
	margin:2px;
	padding:0;
	text-align:center;
	text-decoration:none;
	width:32px;
}
.pagination a:hover{
	background:transparent url(/framework/img/pagination_a.gif) repeat scroll left 28px;
	color:#222222;
}
/*############## Accordion ###########*/
/*
@media screen, projection, tv {
	.ui-accordion .ui-accordion-content {padding:0;}
html[xmlns*=""] body:last-child ... { ... }
}*/
/*######### UI Accordion ###########*/
/* hack Chrome / Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {
 .ui-accordion .ui-accordion-content { padding:0;margin-left:0;position:relative;border-top: 0; margin-top: -2px; top: 1px; margin-bottom: 2px; overflow: auto; display: none; }
}
.ui-accordion .ui-accordion-header{}
.ui-accordion .ui-accordion-header a{display: block; font-size: 1em; padding: .2em .2em .2em 2.0em;}
/*########### UI Sortable##########*/
#sortable,#sortcat,#sortsubcat{ list-style-type: none; margin: 10px 0 10px 10px; padding: 0; width: 97%; }
#sortable li,#sortcat li,#sortsubcat li { margin: 0 3px 3px 3px; padding: 0.3em; padding-left: 1.5em; font-size: 1.0em; height: 12px; }
#sortable li span,#sortcat li span,#sortsubcat li span { position: absolute; margin-left: -1.3em; }
#sortable li:hover,#sortcat li:hover,#sortsubcat li:hover{cursor: move;}
.sortdivfloat{float:left;width:18%;}
.aspanfloat{float:left;margin-left:20px;}
/*#################### magixicon ######################*/
.magix-icon { width: 16px; height: 16px; background-image: url(/framework/img/magixicon_256x240.png); }
/* positioning column 1*/
.magix-icon-igoogle-t { background-position: 0 0; }
.magix-icon-igoogle-d { background-position: -16px 0; }
.magix-icon-h1 		  { background-position: -32px 0; }
.magix-icon-online 	  { background-position: -48px 0; }
.magix-icon-perms     { background-position: -64px 0; }
.magix-icon-webmaster { background-position: -80px 0; }
.magix-icon-analytics { background-position: -96px 0; }
.magix-icon-youtube   { background-position: -112px 0; }
.magix-icon-shutdown  { background-position: -128px 0;}
.magix-icon-help	  { background-position: -144px 0;}
.magix-icon-info-white	  { background-position: -160px 0;}
.magix-icon-info { background-position: -176px 0;}
.magix-icon-exclamation	  { background-position: -192px 0;}
.magix-icon-exclamation-red{ background-position: -208px 0; }
.magix-icon-lightbulb{ background-position: -224px 0; }
.magix-icon-lightbulb-alert{ background-position: -240px 0; }
/* positioning column 2*/
.magix-icon-lightbulb-off{ background-position: 0 -16px; }
.magix-icon-gear{ background-position: -16px -16px; }
.magix-icon-bug{ background-position: -32px -16px; }
.magix-icon-bug-plus{ background-position: -48px -16px; }
.magix-icon-bug-alert{ background-position: -64px -16px; }
.magix-icon-plugin{ background-position: -80px -16px; }
.magix-icon-plugin-arrow{ background-position: -96px -16px; }
.magix-icon-plugin-plus{ background-position: -112px -16px; }
.magix-icon-sitemap{ background-position: -128px -16px; }
.magix-icon-sitemap-grey{ background-position: -144px -16px; }
.magix-icon-sitemap-blue{ background-position: -160px -16px; }
.magix-icon-sitemap-image{ background-position: -176px -16px; }
.magix-icon-image{ background-position: -192px -16px; }
.magix-icon-image-plus{ background-position: -208px -16px; }
.magix-icon-image-pencil{ background-position: -224px -16px; }
.magix-icon-image-alert{ background-position: -240px -16px; }
/* positioning column 3*/
.magix-icon-images{ background-position: 0 -32px; }
.magix-icon-images-stack{ background-position: -16px -32px; }
.magix-icon-image-resize{ background-position: -32px -32px; }
.magix-icon-image-album{ background-position: -48px -32px; }
.magix-icon-database{ background-position: -64px -32px; }
.magix-icon-database-alert{ background-position: -80px -32px; }
.magix-icon-database-export{ background-position: -96px -32px; }
.magix-icon-database-import{ background-position: -112px -32px; }
.magix-icon-feed{ background-position: -128px -32px; }
.magix-icon-feed-plus{ background-position: -144px -32px; }
.magix-icon-small-feed{ background-position: -160px -32px; }
.magix-icon-block{ background-position: -176px -32px; }
.magix-icon-block-arrow{ background-position: -192px -32px; }
.magix-icon-block-plus{ background-position: -208px -32px; }
.magix-icon-magnifier{ background-position: -224px -32px; }
.magix-icon-small-magnifier{ background-position: -240px -32px; }
/* positioning column 4*/
.magix-icon-lock{ background-position: 0 -48px; }
.magix-icon-unlock{ background-position: -16px -48px; }
.magix-icon-network-status{ background-position: -32px -48px; }
.magix-icon-network-status-busy{ background-position: -48px -48px; }
.magix-icon-store{ background-position: -64px -48px; }
.magix-icon-cart{ background-position: -80px -48px; }
.magix-icon-credit-card{ background-position: -96px -48px; }
.magix-icon-credit-cards{ background-position: -112px -48px; }
.magix-icon-credit-card-plus{ background-position: -128px -48px; }
.magix-icon-credit-card-alert{ background-position: -144px -48px; }
.magix-icon-highlighter-text{ background-position: -160px -48px; }
.magix-icon-highlighter-color{ background-position: -176px -48px; }
.magix-icon-locale{ background-position: -192px -48px; }
.magix-icon-news{ background-position: -208px -48px; }
.magix-icon-news-plus{ background-position: -224px -48px; }
.magix-icon-news-pencil{ background-position: -240px -48px; }
/* positioning column 4*/
.magix-icon-wallpaper{ background-position: 0 -64px; }
.magix-icon-sidebar{ background-position: -16px -64px; }
.magix-icon-color-swatch{ background-position: -32px -64px; }
.magix-icon-color-swatches{ background-position: -48px -64px; }
.magix-icon-plug-connect{ background-position: -64px -64px; }
.magix-icon-plug-disconnect{ background-position: -80px -64px; }
.magix-icon-plug-exclamation{ background-position: -96px -64px; }
.magix-icon-tag{ background-position: -112px -64px; }
.magix-icon-tag-plus{ background-position: -128px -64px; }
.magix-icon-support{ background-position: -144px -64px; }
.magix-icon-upload{ background-position: -160px -64px; }
.magix-icon-download{ background-position: -176px -64px; }
.magix-icon-note{ background-position: -192px -64px; }
.magix-icon-note-plus{ background-position: -208px -64px; }
.magix-icon-brench{ background-position: -224px -64px; }
.magix-icon-tools	  { background-position: -240px -64px;}
/* positioning column 5*/
.magix-icon-document{ background-position: 0 -80px; }
.magix-icon-document-copy{ background-position: -16px -80px; }
.magix-icon-document-convert{ background-position: -32px -80px; }
.magix-icon-document-excel{ background-position: -48px -80px; }
.magix-icon-document-powerpoint{ background-position: -64px -80px; }
.magix-icon-document-word{ background-position: -80px -80px; }
.magix-icon-document-image{ background-position: -96px -80px; }
.magix-icon-code-php{ background-position: -112px -80px; }
.magix-icon-code-json{ background-position: -128px -80px; }
.magix-icon-code-html{ background-position: -144px -80px; }
.magix-icon-code-js{ background-position: -160px -80px; }
.magix-icon-code-xml{ background-position: -176px -80px; }
.magix-icon-broom{ background-position: -192px -80px; }
.magix-icon-broom-arrow{ background-position: -208px -80px; }
.magix-icon-home { background-position: -224px -80px; }
.magix-icon-small-home { background-position: -240px -80px; }
/* positioning column 6*/
.magix-icon-dashboard{ background-position: 0 -96px; }
.magix-icon-dashboard-arrow{ background-position: -16px -96px; }
.magix-icon-dashboard-network{ background-position: -32px -96px; }
.magix-icon-w3c-html{ background-position: -48px -96px; }
.magix-icon-w3c-valid{ background-position: -64px -96px; }
.magix-icon-w3c-invalid{ background-position: -80px -96px; }
.magix-icon-check{ background-position: -96px -96px; }
.magix-icon-cross{ background-position: -112px -96px; }
.magix-icon-sliders{ background-position: -128px -96px; }
.magix-icon-slider{ background-position: -144px -96px; }
.magix-icon-slider-plus{ background-position: -160px -96px; }
.magix-icon-slider-pencil{ background-position: -176px -96px; }
.magix-icon-licence-key{ background-position: -192px -96px; }
.magix-icon-microformats{ background-position: -208px -96px; }
.magix-icon-open-source { background-position: -224px -96px; }
.magix-icon-print { background-position: -240px -96px; }
/* positioning column 7*/
.magix-icon-layout{ background-position: 0 -112px; }
.magix-icon-layout-pencil{ background-position: -16px -112px; }
.magix-icon-layout-header{ background-position: -32px -112px; }
.magix-icon-layout-footer{ background-position: -48px -112px; }
.magix-icon-layout-content{ background-position: -64px -112px; }
.magix-icon-layout-sidebar{ background-position: -80px -112px; }
.magix-icon-layer{ background-position: -96px -112px; }
.magix-icon-layer-stack{ background-position: -112px -112px; }
.magix-icon-layer-pencil{ background-position: -128px -112px; }
.magix-icon-layer-plus{ background-position: -144px -112px; }
.magix-icon-ui-layout{ background-position: -160px -112px; }
.magix-icon-ui-menu{ background-position: -176px -112px; }
.magix-icon-ui-combo-box{ background-position: -192px -112px; }
.magix-icon-ui-list-box{ background-position: -208px -112px; }
.magix-icon-ui-check-boxes { background-position: -224px -112px; }
.magix-icon-ui-radio-buttons { background-position: -240px -112px; }
/* positioning column 7*/
.magix-icon-subversion{ background-position: 0 -128px; }
.magix-icon-person{ background-position: -16px -128px; }
.magix-icon-person-shape{ background-position: -32px -128px; }
/*########### Table contain #############*/
.tableversion {margin: 0 0 0 10px; border-collapse: collapse; width: 750px;}
.tableversion th,.tableversion td{text-align: left;}
.tableversion th {padding: .1em 4px;}
.tableversion th td{padding: .4em 4px;}
.tableversion tr td{padding: .3em 4px;border:1px #AFAFAF solid;}
.tableversion tr td:first-child{width:100px;}
.tableversion tr td.cell-icon{width:1%;}
.tableversion tr:hover {}
.tableversion td a{text-decoration:underline;}
.tableversion td a:hover{}