<?xml version="1.0" encoding="UTF-8" ?>
<!-- /*
 * MAGIX CMS Copyright (c) 2011 Gerits Aurelien, 
 * http://www.magix-dev
 * Dual licensed under the MIT AND GPL Version 3 licenses.
 *
 * Date: August 4 17:00 2011
 */-->
<config>
	<acl>
		<admin>
			<authorized>
				<allow_access>*</allow_access>
			</authorized>
			<infos>
				<authors>
					<author>
						<name>Gerits Aurelien</name>
						<link>
							<website href="http://www.magix-cms.com" />
							<blog href="http://www.magix-cjquery.com" />
						</link>
					</author>
				</authors>
				<version>
					<date_create> - </date_create>
					<date_update>11/08/2011</date_update>
					<number>2.0</number>
					<phase>Stable</phase>
					<support>
						<ticket href="http://websolutionway.indefero.net/p/magixcms/"></ticket>
						<forum href="http://forum.logiciel-referencement-professionnel.com/plugins-f5.html">Forum plugins</forum>
					</support>
				</version>
			</infos>
		</admin>
	</acl>
</config>