<?xml version="1.0" encoding="UTF-8" ?>
<!-- /*
 * MAGIX CMS Copyright (c) 2011 Gerits Aurelien, 
 * http://www.magix-dev
 * Dual licensed under the MIT AND GPL Version 3 licenses.
 *
 * Date: August 4 17:00 2011
 */-->
<config>
	<acl>
		<admin>
			<authorized>
				<allow_access>1</allow_access>
			</authorized>
			<infos>
				<authors>
					<author>
						<name>Gerits Aurelien</name>
						<link>
                            <website href="http://www.magix-cms.com" />
                            <blog href="http://blog.aurelien-gerits.be" />
						</link>
					</author>
				</authors>
				<version>
					<date_create>10/04/2010</date_create>
					<date_update>29/04/2013</date_update>
					<number>2.2</number>
					<phase>Stable</phase>
					<support>
                        <ticket href="https://github.com/gtraxx/magixcms/issues"></ticket>
                        <git href="https://github.com/gtraxx/magixcms"></git>
					</support>
				</version>
			</infos>
		</admin>
	</acl>
</config>