h1{
    font-size: 28.5px;
}
h2{
    font-size: 24.5px;
}
h3 {
    font-size: 20.5px;
}
body {
    padding-top: 20px;
    padding-bottom: 40px;
}

.container-started {
    margin: 0 auto;
    max-width: 800px;
}

#page {
    background-color: #FFFFFF;
    /*box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.2);*/
    box-shadow: 0px 0px 12px 6px rgba(0,0,0,.2);
}
#page > hr {
    margin: 30px 0;
}
.masthead .navbar-brand{
    padding: 0;
}
/* Main marketing message and sign up button */
.jumbotron {
    margin: 40px 0;
    text-align: center;
    background-color: #ffffff;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.container-center{
    margin: 40px 0;
    text-align: center;
}
/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
footer .navbar-inner{
    border-radius: 0;
}
/**
* setting error
*/
.mc-error,.mc-success{
    margin:5px 0 0 0;
}